body{
    margin: 0 10vw 0 10vw;
    background-color: #494949;
    color: white;
}

.content{
    height: 100%;
    background-color: #313131;
    margin: 0;
    padding: 1vw;
}

header{
    height: 20vh;
    width: 100%;
    background-color: rgb(123, 123, 246);
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
}

nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.header-logo{
    height: 15vh;
    margin-left: 5%;
    margin-right: 10%;
    align-items: center;
}

.header-button{
    align-items: center;
    text-align: center;
    font-size: 3vw;
}

a{
    text-decoration: none;
    color: white;
}

.back-button{
    margin: 0;
}