body{
    margin: 0 10vw 0 10vw;
    background-color: #494949;
    color: white;
}

.content{
    height: 100%;
    background-color: #313131;
}

.header{
    max-height: 6vw;
    width: 100%;
    background-color: rgb(123, 123, 246);
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.header-logo{
    height: 10%;
    margin-left: 5%;
    margin-right: 10%;
    align-items: center;
}

.header-button{
    align-items: center;
    border: white solid 2px;
    text-align: center;
}

a{
    text-decoration: none;
}