<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <title>NZDL - {{title}}</title>
</head>
<body>
    <header>
    {% include "header.html" %}
    </header>
    <div class="content">
    {% if topText %}
    <h1 class="title-text">{{topText}}</h1>
    {% endif %}

    {% if back %}
    <a class="back-button" href="{{back}}">Back</a>
    {% endif %}

    {% if message %}

    {% if message[1]%}
    <h1 class="error-message">
    {% else %}
    <h1 class="success-message">
    {% endif %}
        {{message[0]}}
    </h1>
    {% endif %}
    
    {% block content %}
    {% endblock %}
    </div>
</body>
</html>