{% extends "layout.html" %}

{% block content %}
<div class="vid-container">
    <iframe class="comp-vid" width="608px" height="308px" src="{{level.verification.completion_link}}" allowfullscreen></iframe>
</div>
<h1>name: {{level.name}}</h1>
<h2>placement: {{level.placement}}</h2>
<h2>Verifier: {{level.verifier.name}}</h2>
<h2>Publisher: {{level.publisher.name}}</h2>
<br>
<h2>Victors:</h2>

{% if completions %}
{% for completion in completions %}
<h3><a href="/leaderboard/{{completion[0].player.id}}">- {{completion[0].player.name}}</a></h3>
{% endfor %}

{% else %}
<h3>No Victors</h3>
{% endif %}

{% endblock %}