{% extends "layout.html" %}

{% block content %}

{% for level in data %}
<a href="/level/{{level.id}}">
    <div class="level-card">
        <h1 class="level-placement">#{{level.placement}}</h1>
        <img class="level-thumbnail" src="{{url_for('static', filename='images/levels/' + level.image_name)}}" alt="{{level.name}} Thumbnail">
        <h1 class="level-info level-name">{{level.name}}</h1>
        <div class="level-extras-grid">
            <p class="level-extras">Verified by {{level.verifier.name}}</p>
            <p class="level-extras">Published by {{level.publisher.name}}</p>
        </div>
        
    </div>
</a>

{% endfor %}

{% endblock %}