{% extends "layout.html" %}

{% block content %}

{% if message %}
<h1 class="error-message">{{message}}</h1>
{% endif %}

<form action="/login/register" method="post">
    <label>Username</label>
    <br><br>
    <input type="text" name="username" autocomplete="new-password" required maxlength="{{userMaxL}}">
    <br><br><br>
    <label>Password</label>
    <br><br>
    <input type="password" name="password" autocomplete="new-password" required maxlength="{{passMaxL}}">
    <br><br><br>
    <input type="submit" value="Log In">
</form>

{% endblock %}