{% extends "layout.html" %}

{% block content %}

<div class="form-parent">
    <div class="form-child">
        <form action="/login/register" method="post">
            <label class="form-label">Username</label>
            <br><br>
            <input type="text" name="username" autocomplete="new-password" required maxlength="{{userMaxL}}" minlength="{{userMinL}}">
            <br><br><br><br>
            
            <label class="form-label">Password</label>
            <br><br>
            <input type="password" name="password" autocomplete="new-password" required maxlength="{{passMaxL}}" minlength="{{passMinL}}">
            <br><br><br>
            <input type="submit" value="Log In" class="submit-button">
        </form>
        <br>
        <h3>Don't have an account?</h3>
        <a href="/signup" class="generic-button">Sign Up</a>
    </div>
</div>

{% endblock %}