{% extends "layout.html" %}

{% block content %}

<h1 class="sub-heading">{{player.name}}'s Profile and Stats</h1>
<br>

{% if player.admin_rank_id > 1 %}
<h1>{{player.admin_rank.name}}</h1>
<h2>This user {{player.admin_rank.description}}.</h2>
<br>
{% endif %}

<h1>Hardest: {{userComps[0][0]}}</h1>
<h1>{{player.points}} Total Points</h1>
<h1>{{extremeCount}} Extremes</h1>
<br>
<h1 class="sub-heading">Completions</h1>
{% if userComps %}
{% for completion in userComps %}
{% if completion[2] %}
<a href="{{completion[1]}}" target="_blank">
    <div class="completion-card">
        <p class="completion-card-content">{{completion[0]}}</p>
        {% if completion[3] == 0 %}
        <p class="completion-card-content completion-card-victor-desc">Verifier</p>
        {% elif completion[3] == 1 %}
        <p class="completion-card-content completion-card-victor-desc">1st Victor</p>
        {% elif completion[3] == 2 %}
        <p class="completion-card-content completion-card-victor-desc">2nd Victor</p>
        {% elif completion[3] == 3 %}
        <p class="completion-card-content completion-card-victor-desc">3rd Victor</p>
        {% else %}
        <p class="completion-card-content completion-card-victor-desc">{{completion[3]}}th Victor</p>
        {% endif %}
        <p class="completion-card-content completion-card-victor-desc">{{completion[4]}} FPS - {{cbfOptions[completion[5]]}}</p>
    </div>
</a>
{% endif %}
{% endfor %}
{% else %}
<h2>No Completions</h2>
{% endif %}

{% endblock %}