{% extends "layout.html" %}

{% block content %}

<br>
<h1><a class="generic-button" href="/submission">Submit a Record</a></h1>

{% if isadmin or isowner %}
<br>
<h1 class="sub-heading">Admin Controls</h1>
{% endif %}

{% if isadmin %}
<a class="generic-button admin-control-button" href="/reviewrecords">Review User submissions</a>
<br><br><br>
<a class="generic-button admin-control-button" href="/addlevel">Add level</a>
<br><br><br>
{% endif %}

{% if isowner %}
<a class="generic-button admin-control-button" href="/adminmanaging">Manage Admins</a>
<br><br>
{% endif %}
<br>
<a class="logout-button" href="/logout">LOGOUT</a>

<h1 class="sub-heading">My completions</h1>
{% for completion in user.user_completions %}
{% if completion.accepted %}
<a href="{{completion.completion_link}}" target="_blank">
    <div class="completion-card">
        <p class="completion-card-content">{{completion.level.name}}</p>
        {% if completion.index == 0 %}
        <p class="completion-card-content completion-card-victor-desc">Verifier</p>
        {% elif completion.index == 1 %}
        <p class="completion-card-content completion-card-victor-desc">1st Victor</p>
        {% elif completion.index == 2 %}
        <p class="completion-card-content completion-card-victor-desc">2nd Victor</p>
        {% elif completion.index == 3 %}
        <p class="completion-card-content completion-card-victor-desc">3rd Victor</p>
        {% else %}
        <p class="completion-card-content completion-card-victor-desc">{{completion.index}}th Victor</p>
        {% endif %}
    </div>
</a>
{% endif %}
{% endfor %}

{% endblock %}