{% extends "layout.html" %}

{% block content %}

<form action="/signup/register" method="post">
    <label>Username</label>
    <br>
    <input type="text" name="username" autocomplete="new-password" required maxlength="{{userMaxL}}" minlength="{{userMinL}}">
    <br><br><br>
    <label>Password</label>
    <br><br>
    <input type="password" name="password" autocomplete="new-password" required minlength="{{passMinL}}" maxlength="{{passMaxL}}">
    <br><br><br>
    <label>Confirm Password</label>
    <br><br>
    <input type="password" name="confirm-password" autocomplete="new-password" required maxlength="{{passMaxL}}" minlength="{{passMinL}}">
    <br><br><br>
    <input type="submit" value="Sign Up">
</form>

{% endblock %}